{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<div class="container">
  <div class="card auth-card">
    <h1 class="text-center">{% trans "Sign In" %}</h1>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
    </form>

  </div>
</div>
{% endblock content %}