{% extends 'base.html' %} 

{% block additional_nav %}
<ul>
    <li><a href="#">Hub</a></li>
    <li><a href="#">Activities</a></li>
    <li><a href="#">FAQs</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Activities</h1>
<ul>
    {% for activity in activities %}
    <div class="activity">
            <h2>{{ activity.name }}</h2>
            <p>{{ activity.description }}</p>
            <p>Date: {{ activity.date }}</p>
            <p>Location: {{ activity.location }}</p>
            <p>Type: {{ activity.type }}</p>
            <p>Participants: {{ activity.current_num_of_participants }} / {{ activity.max_participants }}</p>

            <form action="" method="post">
                <button type="submit">Book</button>
            </form>
    </div>
    {% endfor %}
</ul>
{% endblock %}
