{% extends 'base.html' %}

{% block additional_nav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hub' %}">Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_booked_activities' %}">My Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Activities</h1>

    <!-- Loop through activities -->
    {% for activity in page_obj %}
    <div class="activity">
        <h2>{{ activity.name }}</h2>
        <p>{{ activity.description }}</p>
        <p>Date: {{ activity.date }}</p>
        <p>Location: {{ activity.location }}</p>
        <p>Type: {{ activity.type }}</p>
        <p>Available Slots: {{ activity.current_num_of_participants }}/{{ activity.max_participants }}</p>
        <p>
            Rating: {{ activity.avg_rating|floatformat:0  }}
            <!-- {% for i in "12345" %}
            <span class="star {% if i|add:'-1' < activity.avg_rating %}filled{% endif %}"></span>
            {% endfor %} -->
        </p>
        <p>Comment: {{ activity.reviews.first.comment }}</p>
        <a class="btn btn-primary" href="{% url 'book_activity' activity.id %}">Book</a>
        <a class="btn btn-success" href="{% url 'create_review' activity_id=activity.id %}">Leave a Review</a>
        {% if activity.reviews.count > 1 %}
        <a class="btn btn-info" href="{% url 'all_reviews' activity.id %}">View all reviews</a>
        {% endif %}
    </div>
    {% endfor %}

    <!--pagination-->
    <!-- {% if is_paginated %} -->
    <nav aria-label="Page navigation">

        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">&laquo;
                    PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!-- {% endif %} -->
</div>
{% endblock %}