{% extends 'base.html' %}

{% block additional_nav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hub' %}">Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_booked_activities' %}">My Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">FAQs</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h1>Activities</h1>
<ul>
    {% for activity in activities %}
    <div class="activity">
        <h2>{{ activity.name }}</h2>
        <p>{{ activity.description }}</p>
        <p>Date: {{ activity.date }}</p>
        <p>Location: {{ activity.location }}</p>
        <p>Type: {{ activity.type }}</p>
        <p>Available Slots: {{ activity.current_num_of_participants }}/{{ activity.max_participants }}</p>
        <p>
            Rating:
            {% for i in "12345" %}
            <span class="star {% if i|add:"-1" < activity.average_rating %}filled{% endif %}"></span>
            {% endfor %}
        </p>
        <h4>Reviews:</h4>
        <ul>
            {% for review in reviews %}
            <li>
                <p>Comment: {{ review.comment }}</p>
            </li>
            {% endfor %}
            <a href="{% url 'book_activity' activity.id %}">Book</a>

            <a href="{% url 'create_review' activity_id=activity.id %}">Leave a Review</a>
            <a href="{% url 'activity_review' activity.id %}">See Reviews</a>

    </div>
    {% endfor %}
</ul>
{% endblock %}