{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="First time mom, Your birth partner">
    <meta name="keywords" content="First time mom, pregnancy, birth, prenatal, antenatal, yoga, knowledge, counselling">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon_io/site.webmanifest' %}" crossorigin="use-credentials">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>First Time Mom</title>
</head>

<body>
    <div class="container-fluid px-0 custom-container">
        <header>
            <!-- Navigation -->
            {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-house"></i></a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon top-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% block nav-list %}
                    {% endblock %}
                </div>
            </nav>
            {% endblock %}
        </header>

        <main class="main-container">
            {% block content %}

            {% endblock %}

        </main>

        <!-- footer -->
        <footer class="footer">
            <div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!-- Contact Info -->
                        <h5>Contact Information</h5>
                        <p>Email: ftm@gmail.com</p>
                        <p>Phone: (31) 456-78</p>
                        <p>Address: Haven 6, Utrecht, Netherlands</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!-- Location -->
                        <h5>Location</h5>
                        <p>Utrecht, Haven 6</p>
                        <p><a href="https://maps.google.com?q=Your+Location" target="_blank">View on Google Maps</a></p>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <!-- Social Links -->
                        <h5>Explore Our Socials</h5>
                        <a href="https://www.facebook.com" target="_blank" aria-label="facebook"><i
                                class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com" target="_blank" aria-label="instagram"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com" target="_blank" aria-label="youtube"><i
                                class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- bootstrap js files -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
    </script>
    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/6518daa5f7.js" crossorigin="anonymous"></script>
    <!-- main js file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>