{% extends 'base.html' %}

{% block additional_nav %}
<ul>
    <li><a href="{% url 'hub' %}">Hub</a></li>
    <li><a href="{% url 'activity_list' %}">Activities</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="{% url 'user_booked_activities' %}">My activities</a></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>

</ul>
{% endblock %}

{% block content %}

<h1>My Booked Activities</h1>
<p>Thank you, {{ email }}, for booking the following activities:</p>
<h1>Booking List</h1>
<ul id="booking-list">
    {% for booking in bookings %}
    <li>{{ booking.user.email }} - {{ booking.activity.name }}</li>
    {% empty %}
    <li>No bookings found.</li>
    {% endfor %}
</ul>

{% endblock %}