{% extends "base.html" %}

{% block nav-list %}

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hub' %}">Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_booked_activities' %}">My Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="container centered-container">
    <div class="booking">
        <h2>Booking: {{ activity.name }}</h2>
        <p>{{ activity.description }}</p>
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary" type="submit">Confirm Booking</button>
        </form>
    </div>
</div>


<!-- <p>
    
    Sorry, this activity is fully booked. Please check other <a href="{% url 'activity_list' %}">activities.</a>

</p> -->


{% endblock %}