{% extends "base.html" %}

{% block additional_nav %}
<ul>
    <li><a href="{% url 'hub' %}">Hub</a></li>
    <li><a href="{% url 'activity_list' %}">Activities</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="{% url 'user_booked_activities' %}">My activities</a></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Booking: {{ activity.name }}</h2>
<p>{{ activity.description }}</p>


<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <!-- <label for="{{ form.due_date.id_for_label }}">Due date</label>
    {{ form.due_date }}
    <br>

    <label for="{{ form.has_journal.id_for_label }}">Do you have a journal?</label>
    {{ form.has_journal }}
    <br>

    <label for="{{ form.needs_journal.id_for_label }}">Do you need a journal?</label>
    {{ form.needs_journal }}
    <br> -->
    <a href="{% url 'booking-confirmation' %}">Confirm Booking</a>
    <!-- <button type="submit">Confirm Booking</button> -->
</form>

<!-- <p>
    
    Sorry, this activity is fully booked. Please check other <a href="{% url 'activity_list' %}">activities.</a>

</p> -->


{% endblock %}