{% extends 'base.html' %}

{% block additional_nav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hub' %}">Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_booked_activities' %}">My Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">FAQs</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<h1>Booking Confirmed!</h1>
{% for booking in bookings %}
<h2>{{ booking.activity.name }}</h2>
{% endfor %}
<p>Thank you {{ user.email }}, your booking for {{ activity.name }} is confirmed!</p>

<a href="{% url 'activity_list' %}">Return to Activities</a>
<a href="{% url 'user_booked_activities' %}">My Activities</a>


{% endblock %}
