{% extends 'base.html' %}

{% block additional_nav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hub' %}">Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_booked_activities' %}">My Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="container centered-container">
    <h1 class="activity-title">Fully Booked</h1>
    <h1>This activity is fully booked</h1>
    <p>Sorry, all available slots for this activity have been filled.</p>
    <a class="btn btn-primary" href="{% url 'activity_list' %}">Return to Activities</a>
</div>
{% endblock %}