{% extends 'base.html' %}

{% block additional_nav %}
<ul>
    <li><a href="#">Hub</a></li>
    <li><a href="#">Activities</a></li>
    <li><a href="#">FAQs</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="user-profile">
    <h1>Welcome to first time mom, {{ user.username }}!</h1>
    <p>Customize your profile:</p>
    <a href="#" class="btn btn-primary">Edit Profile</a>
    <p>Your Booked Activities:</p>
    <ul>
        {% for booking in bookings %}
            <li>{{ booking.activity.name }}</li>
        {% endfor %}
    </ul>
    <a href="#" class="btn btn-primary">View Activities</a>
</div>
{% endblock %}