{% extends 'base.html' %}

{% block additional_nav %}
<ul>
    <li><a href="{% url 'hub' %}">Hub</a></li>
    <li><a href="{% url 'activity_list' %}">Activities</a></li>
    <li><a href="#">FAQs</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="user-profile">
    <h1>Welcome to first time mom, {{ user.first_name }}!</h1>
    <p>Customize your profile:</p>
    <a href="#" class="btn btn-primary">Edit Profile</a>
    <p>Your Booked Activities:</p>
    <ul>
        {% for booking in bookings %}
            <li>{{ booking.activity.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'activity_list' %}" class="btn btn-primary">View Activities</a>
</div>
{% endblock %}