{% extends "base.html" %}

{% load static %}

{% block nav-list %}
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
    </li>
    {% endif %}
</ul>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div class="landing-page">
                <h1>First Time Mom</h1>
                <p>Walking with you as you prepare for your little one</p>
                <div class="auth-buttons">
                    {% if user.is_authenticated %}
                    <p>Welcome, {{ user.first_name }}</p>
                    {% else %}
                    <p>Welcome Mama! Please sign up</p>
                    <a href="{% url 'account_signup' %}" class="btn btn-success">Sign Up</a>
                    <p>Welcome Mama! Please log in</p>
                    <a href="{% url 'account_login' %}" class="btn btn-success">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'assets/images/isaac-quesada.jpg' %}" alt="Baby being held" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}