{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div>
    <img src="" alt="">
</div>
<div class="landing-page">
    <h1>First Time Mom</h1>
    <p>Walking with you as you prepare for you little one</p>
    <div class="auth-buttons">
        {% if user.is_authenticated %}
        <P>Welcome, {{ user.first_name }}</P>
        {% else %}
        <P>Welcome Mama! please signup</P>
        <a href="{% url 'account_signup' %}" class="btn btn-success">Sign Up</a>
        <P>Welcome Mama! please login</P>
        <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
        {% endif %}
    </div>
</div>
{% endblock %}