{% extends "base.html" %}

{% block additional_nav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hub' %}">Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_booked_activities' %}">My Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Reviews for {{ activity.name }}</h1>

  <ul>
    {% for review in reviews %}
      <li>
        <p>Activity: {{ review.activity }}</p>
        <p>Rating: {{ review.rating }}</p>
        <p>Comment: {{ review.comment }}</p>
        <p>Posted by: {{ review.user }}</p>
      </li>
    {% empty %}
      <li>No reviews available.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'activity_list' %}">Back to Activities</a>
</div>
{% endblock %}
