{% extends 'base.html' %}

{% block additional_nav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hub' %}">Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_booked_activities' %}">My Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="container centered-container">
    <h1>My Booked Activities</h1>

    <!-- Loop through bookings -->

    <p>Thank you, {{ user.email }}, for booking the following activities:</p>
    <ul id="user-activities-list">
        {% for booking in bookings %}
        <li>
            {{ booking.activity.name }} - {{ booking.activity.date }}
        </li>
        {% empty %}
        <li>No bookings found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}