{% extends 'base.html' %}

{% block additional_nav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hub' %}">Hub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'activity_list' %}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_booked_activities' %}">My Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="container centered-container">
    <h1 class="activity-title">Your Bookings</h1>
    <p class="activity-thank-you">Thank you, {{ user.email }}, for booking the following activities:</p>
    <ul id="user-activities-list" class="activity-user-list">
        {% for booking in bookings %}
        <li>
            <strong>Activity:</strong> {{ booking.activity.name }}<br>
            <strong>Date:</strong> {{ booking.activity.date }}<br>
            <strong>Location:</strong> {{ booking.activity.location }}<br>
        </li>
        {% empty %}
        <li>No bookings found.</li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'activity_list' %}">Return to Activities</a>
</div>
{% endblock %}