{% extends 'base.html' %}

{% block additional_nav %}
<ul>
    <li><a href="{% url 'hub' %}">Hub</a></li>
    <li><a href="{% url 'activity_list' %}">Activities</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="{% url 'user_booked_activities' %}">My activities</a></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
    
</ul>
{% endblock %}

{% block content %}

<h1>My Booked Activities</h1>
{% for booking in bookings %}
<h2>{{ booking.activity.name }}</h2>
{% endfor %}
<p>Thank you, {{ user.email }}, for booking the following activities:</p>
<ul id="user-activities-list">
    {% for booking in bookings %}
    <li>
        {{ booking.activity.name }} - {{ booking.activity.date }}
    </li>
    {% empty %}
    <li>No bookings found.</li>
    {% endfor %}
</ul>

{% endblock %}